{#  =========== Localization =========== #}
d-i debian-installer/language string {{ localization.language }}
d-i debian-installer/country string {{ localization.country }}
d-i debian-installer/locale string {{ localization.locale }}
d-i localechooser/supported-locales multiselect {{ localization.supported_locales | join(', ') }}

{# =========== Keyboard settings =========== #}
d-i keyboard-configuration/xkb-keymap select {{ localization.keymap }}
d-i keyboard-configuration/layoutcode string {{ localization.keyboard_layoutcode }}
{# variantcode could be: e.g. nodeadkeys #}
d-i keyboard-configuration/variantcode string {{ localization.keyboard_variantcode }}
{# disables fancy keylayout autodetection #}
d-i console-setup/ask_detect boolean false

{# =========== Network =========== #}
{# interface: if removed, list will be shown #}
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string {{ hostname }}
d-i netcfg/get_domain string {{ domain }}
d-i netcfg/hostname string {{ hostname }}
{# Disable the WEP key dialog #}
d-i netcfg/wireless_wep string

{# =========== Disk setup =========== #}
{# method=lvm: use LVM for disk partitioning #}
d-i partman-auto/method string lvm
{# choose_recipe=atomic: all files in one partition #}
d-i partman-auto/choose_recipe select atomic
{# disables any confirmations on partioning #}
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-md/confirm boolean true

{# =========== APT Mirror settings =========== #}
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string {{ repository.hostname }}
d-i mirror/http/directory string {{ repository.directory }}
d-i mirror/http/proxy string
d-i mirror/suite string {{ repository.suite }}

{# =========== Time settings =========== #}
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string pool.ntp.org
d-i time/zone string {{ localization.timezone }}

{# =========== User & Password =========== #}
d-i passwd/root-login boolean true
d-i passwd/make-user boolean false
d-i passwd/root-password-crypted password {{ root_pw }}

{# =========== APT settings =========== #}
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/security-updates boolean true

{# =========== Package settings =========== #}
tasksel tasksel/first multiselect {{ install.task }}
d-i pkgsel/include string {{ install.packages | join(' ') }}
d-i pkgsel/upgrade select safe-upgrade

{# =========== Installer settings =========== #}
{# install-recommends: false is stronly discouraged -> it may result in broken system #}
d-i base-installer/install-recommends boolean true
d-i base-installer/kernel/image string linux-image-amd64

{# =========== Popularity contest =========== #}
popularity-contest popularity-contest/participate boolean false

{# =========== Manual commands =========== #}
d-i preseed/early_command string kill-all-dhcp; netcfg
d-i preseed/late_command string {{ install.commands | join('; ') }}

{# =========== GRUB bootloader =========== #}
{# only_debian: install GRUB if no other system was detected #}
d-i grub-installer/only_debian boolean true
{# with_other_os: install GRUB also if other OS exists on system #}
d-i grub-installer/with_other_os boolean true
{# bootdev=default: select boot device automatically #}
d-i grub-installer/bootdev string default

{# =========== Finish installation =========== #}
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true




